{% extends "base.html" %}

{% block own_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/my_styles/auth-styles.css") }}">
{% endblock %}

{% block content %}
    <div class="register-photo" style="height: 100vh; background: white">
        <div class="form-container">
            <form class="shadow" action="" method="post">
                <h2 class="text-center"><strong>{{ title }}</strong></h2>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email(class="form-control", type="email_sending", placeholder="Электронная почта") }}
                    {% for error in form.email.errors %}
                        <div style="color: #e3442f; font-family: 'JetBrains Mono', monospace; font-size: .75rem">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block", type="submit", style="background-color: #ff8e3c;",
                                   onclick="alert('Проверьте свою почту, для дальнейших инструкции')")}}
                </div>
            </form>
        </div>
    </div>
{% endblock %}