{% extends "base.html" %}

{% block own_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_styles/auth-styles.css') }}">
{% endblock %}

{% block content %}
    <div class="register-photo" style="background-color: #ffffff;">
        <div class="form-container">
                <form class="shadow" method="post" action="">
                    <h2 class="text-center"><strong>Добавить задачу</strong></h2>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                    {{ form.title(class="form-control", type="text", placeholder="Название задачи") }}
                        {% for error in form.title.errors %}
                            <div style="color: #e3442f; font-family: 'JetBrains Mono', monospace; font-size: 0.8rem">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="input-title">Метки</div>
                        {{ form.marks(class="form-control", id="marks") }}
                        {% for error in form.marks.errors %}
                            <div style="color: #e3442f; font-family: 'JetBrains Mono', monospace; font-size: 0.8rem">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <div class="input-title">Дата выполнения</div>
                        {{ form.finish_date(class="form-control", placeholder="Дата выполнения") }}
                        {% for error in form.finish_date.errors %}
                            <div style="color: #e3442f; font-family: 'JetBrains Mono', monospace; font-size: 0.8rem">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary btn-block", type="submit", style="background-color: #ff8e3c;") }}
                    </div>
                </form>
            </div>
    </div>
{% endblock %}

