{% extends "app/app.html" %}


{% block page_content %}
    <div class="title">Все задачи</div>
    <div class="tasks">
        {% for task in tasks %}
            <div class="task" id="{{ task.id }}">
                {% if task.finished %}
                    <input type="checkbox" onclick="finish_task('{{ task.id }}')" checked>
                {% else %}
                    <input type="checkbox" onclick="finish_task('{{ task.id }}')">
                {% endif %}
                <div class="task-body">{{ task.title }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
