{% extends "app/app.html" %}


{% block page_content %}
    <div class="title">Все задачи
        <a href="add_task">&#43;</a>
    </div>
    <div class="tasks">
        {% for task in tasks %}
            {% if task.finished %}
                <div class="task finished" id="{{ task.id }}">
                    <input type="checkbox" onclick="finish_task('{{ task.id }}')" style="width: 18px; height: 18px" checked>
                    {{ task.title }}
                </div>
            {% else %}
                <div class="task" id="{{ task.id }}">
                    <input type="checkbox" onclick="finish_task('{{ task.id }}')" style="width: 18px; height: 18px">
                    {{ task.title }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
