.tasks {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;
    height: 100%;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-family: 'Roboto', monospace;
    font-size: 18px;
    font-weight: 500;

    padding: 8px 5px 8px 5px;
    margin: 10px 0 10px 0;
    width: 80%;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.task .con {
    display: flex;
    flex-direction: row;
}


.task .text {
    display: flex;
    align-items: center;

    height: 18px;
    font-size: 18px;
}

.task.finished .text {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.4);
}

.task input {
    width: 18px;
    height: 18px;
    margin: 0 0.8rem 0 0;
}

.task a {
    width: 18px;
    height: 18px;
}
