{% extends "base.html" %}

{% block own_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/auth-styles.css") }}">
{% endblock %}

{% block content %}
    <div class="register-photo" style="background-color: #ffffff;">
        {% if message is not none %}
            <div class="error-message">{{ message }}</div>
        {% endif %}
        <div class="form-container">
            <form class="shadow" method="post" action="">
                <h2 class="text-center"><strong>Войти</strong></h2>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.email(class="form-control", type="email", placeholder="Электронная почта") }}
                    {% for error in form.email.errors %}
                        <div style="color: #e3442f; font-family: 'JetBrains Mono', monospace; font-size: .75rem">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password(class="form-control", type="password", placeholder="Пароль") }}
                    {% for error in form.password.errors %}
                        <div style="color: #e3442f; font-family: 'JetBrains Mono', monospace; font-size: .75rem">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label">{{ form.remember_me(class="form-check-input", type="checkbox") }}Запомнить меня</label></div>
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary btn-block", type="submit", style="background-color: #ff8e3c;") }}
                </div>
                <a class="already" href="/signup">У вас нет аккаунта? Зарегистрируйтесь</a>
            </form>
        </div>
    </div>
{% endblock %}