{% extends "base.html" %}

{% block own_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_styles/task-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_styles/sidebar-style.css') }}">
{% endblock %}


{% block app_button %}
    <button type="button" id="sidebarCollapse" class="navbar-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
{% endblock %}


{% block content %}
    <div id="wrapper">

        <nav id="sidebar" class="mCustomScrollbar _mCS_1 mCS-autoHide">
            <div id="dismiss">
                <div style="padding: 5px 10px 5px 10px; margin: 20px 10px 0 0; background-color: white;">
                    <i class="fas fa-arrow-left"></i>
                </div>
            </div>
            <ul class="list-unstyled components">
                <li class="sidebar-component" id="all">
                    <span class="item_icon" style="color: #00214d;">
                        <svg width="24" height="24" viewBox="0 0 24 24">
                            <g fill="currentColor" fill-rule="evenodd">
                                <path fill-rule="nonzero" d="M10 14.5a2 2 0 1 0 4 0h5.5V18a1.5 1.5 0 0 1-1.5 1.5H6A1.5 1.5 0 0 1 4.5 18v-3.5H10z" opacity=".1"></path>
                                <path fill-rule="nonzero" d="M8.062 4h7.876a2 2 0 0 1 1.94 1.515l2.062 8.246a2 2 0 0 1 .06.485V18a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-3.754a2 2 0 0 1 .06-.485L6.12 5.515A2 2 0 0 1 8.061 4zm0 1a1 1 0 0 0-.97.757L5.03 14.004a1 1 0 0 0-.03.242V18a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-3.754a1 1 0 0 0-.03-.242L16.91 5.757a1 1 0 0 0-.97-.757H8.061zM12 17.25A2.75 2.75 0 0 1 9.295 15H7a.5.5 0 1 1 0-1h2.75a.5.5 0 0 1 .5.5 1.75 1.75 0 0 0 3.5 0 .5.5 0 0 1 .5-.5H17a.5.5 0 1 1 0 1h-2.295A2.75 2.75 0 0 1 12 17.25z"></path>
                            </g>
                        </svg>
                    </span>
                    <a href="/main_app/all">Все задачи</a>

                </li>

                <li class="sidebar-component" id="today">
                    <span class="item_icon" style="color: #ff5470;">
                        <svg width="24" height="24" viewBox="0 0 24 24">
                            <g fill="currentColor" fill-rule="evenodd">
                                <path fill-rule="nonzero" d="M6 4.5h12A1.5 1.5 0 0 1 19.5 6v2.5h-15V6A1.5 1.5 0 0 1 6 4.5z" opacity=".1"></path>
                                <path fill-rule="nonzero" d="M6 4h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H6zm1 3h10a.5.5 0 1 1 0 1H7a.5.5 0 0 1 0-1z"></path>
                                <text font-family="-apple-system, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'" font-size="9" transform="translate(4 2)" font-weight="500">
                                    <tspan x="8" y="15" text-anchor="middle">{{ day }}</tspan>
                                </text>
                            </g>
                        </svg>
                    </span>
                    <a href="/main_app/today">&nbsp;Сегодня</a>
                </li>
                <li class="sidebar-dropdown" id="marks">
                    <div class="dropdown-controls">Метки
                        <a href="/main_app/add_mark" class="add-link" style="margin-bottom: 1px">
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="menu-dropdown">
                        {% for mark in marks %}
                            <div class="mark-element" id="{{ mark.id }}">
                                <div class="mark-title" id="{{ mark.id }}">{{ mark.title }}</div>
                                <button type="submit" onclick="show_tasks('{{ mark.id }}')">Показать задачи</button>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </nav>
        <div class="page-content">
            {% block page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function activate_element(element)
        {
            $(element).toggleClass('active');
        }
        
        function change_menu()
        {
            activate_element('#sidebar');
            activate_element('.overlay');
            activate_element(this);
        }

        function dropdown(event)
        {
            $(event.target).siblings('.menu-dropdown').toggleClass('active');
            $(event.target).toggleClass('active');
        }

        function edit_mark(event)
        {
            window.location.pathname = `/main_app/edit_mark/${event.target.id}`;
        }

        function finish_task(task_id)
        {
            $.ajax({
                url: `/api/{{ current_user.apikey }}/task/${task_id}?action=change_status&title&mark_ids&finish_date`,
                type: 'PUT'
            });
            $('#task' + task_id).toggleClass('finished');
        }

        function show_tasks(mark_id)
        {
            window.location.pathname = `/main_app/show_tasks/${mark_id}`;
        }

        $(document).ready(function ()
        {
            $('#sidebarCollapse').on('click', change_menu);
            $('.sidebar-dropdown').on('click', dropdown);
            $('.mark-title').on('click', edit_mark);
            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
                $('#sidebarCollapse').removeClass('active');
             });
        });

        let path = window.location.toString().split('/').pop();
        activate_element("#" + path);
    </script>
{% endblock %}