{% extends "app/app.html" %}

{% block page_content %}
    <div class="title">Все задачи c меткой &laquo;{{ title }}&raquo;</div>
    <div class="tasks">
        {% for task in tasks %}
            {% if task.is_finished %}
                <div class="task finished" id="task{{ task.id }}">
                    <div class="con">
                        <input type="checkbox" onclick="finish_task('{{ task.id }}')" checked>
                        <div class="text">{{ task.title }}</div>
                    </div>
                    <a href="/app/edit_task/{{ task.id }}"><span class="material-icons">edit</span></a>
                </div>
            {% else %}
                <div class="task" id="task{{ task.id }}">
                    <div class="con">
                        <input type="checkbox" onclick="finish_task('{{ task.id }}')">
                        <div class="text">{{ task.title }}</div>
                    </div>
                    <a href="/app/edit_task/{{ task.id }}"><span class="material-icons">edit</span></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

