<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome5-overrides.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registration-form.css') }}">

    {% block own_styles %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-light navbar-expand-md" style="background-color: #ff8e3c;">
            <div class="container-fluid" style="justify-content: space-between !important">
                <div style="display: flex; align-items: center">
                    {% block app_button %}{% endblock %}  <!-- К сожалению, не знаю как сделать лучше -->
                    <a class="navbar-brand" href="/" style="font-family: 'Roboto Mono', monospace;color: #ffffff; width: fit-content"><strong>TickTrack</strong></a>
                </div>
                {% if current_user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="width: fit-content; color: #fffffe; font-size: 18px">Меню</button>
                        <div role="menu" class="dropdown-menu dropdown-menu-right">
                            <a role="presentation" class="dropdown-item" href="/app/apikey">Ваш API ключ</a>
                            <div role="presentation" class="dropdown-divider"></div>
                            <a role="presentation" class="dropdown-item" href="/logout">Выйти из аккаунта</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </nav>
    </header>

    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>

    {% block scripts %}{% endblock %}
</body>

</html>

